
.homepage{
    /* background:var(--homepage-color); */
    background:url("../images/header-background.jpg");
    color:white;
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    align-items:center;
    height:100vh;
    background-position:center center;
    /* object-fit:contain; */
    background-size:cover;
}

.homepage__description{
    height:50vh;
    display:flex;
    flex-direction:column;
    justify-content:space-around;
}
.heading__text{
    font-size:72px;
    font-weight:500;
}

.homepage__text > h3{
    font-weight:500;
    color:white;
    opacity:0.6;
    padding:5px;
    font-size:20px;
}

.homepage__links{
    display:flex;
    justify-content:space-between;
    width:200px;
    margin-left:10px;
}


.homepage__link{
    color:white;
}

.homepage__link:hover{
    color:yellow;
}


@media(max-width:950px){
    
    .heading__text{
        font-size:64px;
    }
    
    .homepage__text > h3{
        font-size:18px;
    }

    .homepage__link > .MuiSvgIcon-root{
        font-size:36px !important;
    }
}

@media(max-width:820px){
    
    .heading__text{
        font-size:54px;
    }
    
    .homepage__text > h3{
        font-size:16px;
    }

    .homepage__link > .MuiSvgIcon-root{
        font-size:32px !important;
    }
}

@media(max-width:710px){
    .homepage{
        width:115vw;
        height:100vh;
        overflow-x:hidden;
    }
    .heading__text{
        font-size:44px;
    }
    .homepage__description{
        margin-right:200px;
    }
    .homepage__text > h3{
        font-size:13px;
        margin-right:20px;
    }  
    
    .homepage__exploreLink > .MuiSvgIcon-root{
        margin-right:30vw;
    }
}

@media(max-width:610px){
    .homepage{
        width:130vw;
        height:100vh;
        overflow-x:hidden;
    }
    
    .heading__text{
        font-size:38px;
    }
    
    .homepage__text > h3{
        font-size:13px;
    }

    
}

@media(max-width:410px){
    .homepage{
        width:130vw;
    }  
    .heading__text{
        font-size:36px;
    }
    .homepage__description{
        padding:10px;
    }
    .homepage__text > h3{
        font-size:13px;
        margin-right:20px;
    }

    .homepage__link > .MuiSvgIcon-root{
        margin-bottom:100px;
    }
}
