
.services{
    height:fit-content;
}

.services > h1{
    padding:20px;
    text-align:center;
    font-weight:500;
    font-size:48px;
    color:var(--sidebar-color);
}
.services__cards{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
    padding:20px;
    gap:10px;
    margin:0px 20px;
}

@media(max-width:710px){
    .services{
        margin-right:30vw;
    }
}

@media(max-width:480px){
    .services{
        margin-right:150px;
    }
}

@media(max-width:450px){
    .services{
        margin-right:180px;
    }
}

@media(max-width:410px){
    .services{
        margin-right:200px;
    }
}

@media(max-width:380px){
    .services{
        margin-right:220px;
    }

    .services > h1{
        font-size:36px;
    }
}