:root{
    --sidebar-color : #000747;
    --homepage-color: #000087;
}
.App{
    display:flex;
}

.App > :first-child{
    flex:0.20;
    box-shadow:1px 2px 2px #000;
}

.App > :nth-child(2){
    flex:0.80;
}

